<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">  
        <link rel="stylesheet" href="styleTrue.css">  
    </head>
    <body>
    <ul class="barraSuperior">
        <li class="izq">All in Casino</li>
        <a class="enlace" href="/perfil"><li class="der" id="cuenta">{{nombre}}</li></a>
        <a class="enlace" href="/wallet"><li class="der" id="saldo">{{saldo}}$</li></a>
   </ul>

        {{{body}}}
    </body>
</html>