<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">  
        <link rel="stylesheet" href="styleTrue.css">  
    </head>
    <body>
                <ul class="barraSuperior">
       <!--<a class="enlace" href="landingSite.html"> <li class="izq"> Volver </li></a>-->
        <li class="izq">All in Casino</li>
        <a class="enalce" href="/perfil"><li class="der">{{nombre}}</li></a>
        <a class="enalce" href="/wallet"><li class="der">{{saldo}}$</li></a>
       </ul>

        {{{body}}}
    </body>
</html>