<!DOCTYPE html>
<html>
    <head>
        <title>All in Landing</title>

        <link rel="stylesheet" href="styleTrue.css">
    </head>

    <body>
        <H1 class="allIn">All in<br>Casino</H1>
        
        <div class="contenedor">
            <H2 class="sub">¿Por qué apostar en All in Casino?</H2>
            <a class="link" href="logIn"><h2>Iniciar sesion</h2></a>
            <a class="link" href="signUp"><h2>Crear cuenta</h2></a>
        </div>

        <div class ="contenedor">
            <div>
                <h2 class="tituloModulo">Deposita y apuesta</h2>
                <p>
                    Gracias a nuestro moderno sistema puedes depositar
                    y apostar al instante!
                </p>        
            </div>

            <div>
                <h2 class="tituloModulo">Multiples beneficios</h2>
                <p>
                    Accede a bonos de bienvenida, 
                    promociones, sorteos diarios,
                    recompenzas por fidelidad y mucho mas!
                </p>
            </div>

            <div>
                <h2 class="tituloModulo">Apuesta donde sea</h2>
                <p>
                    Casino completamente multiplaforma
                    apuesta en la comodidad de tu casa, vehiculo
                    oficina o en la playa.
                </p>
            </div>
            
            <div>
                <h2 class="tituloModulo">Seguridad</h2>
                <P>
                    Contamos con encriptacion avanzada para proteger tus
                    datos y tu dinero.
                </P>
            </div>

            <div>
                <h2 class="tituloModulo">Soporte</h2>
                <p>
                    nuestro sistema de soporte esta disponible 24/7
                    para resolver cualquier problema que tengas al jugar.
                </p>
            </div>
        </div>
        

    </body>
</html>