<!DOCTYPE html>
<html>
    <div class="fondoMain">
    <h2>Registate con tu cuenta</h2>
    <form method="post" action="/logIn">
        Nombre:     <input name="username"><br>
        Contraseña: <input type="password" name="password"><br>
        <button type="submit">Ingresar</button>
    </form>
    <p><a href="/signUp">Crea una cuenta</a></p>
    </div>
</html>