<!DOCTYPE html>
<html>
 <div class="fondoMain">
  <h2>¡Bienvenido {{nombre}}!</h2> <br>
  <h3>Su saldo es: $ {{saldo}} </h3> <br>
  <h3 class="rr-subtitulo">Últimas 5 apuestas </h3> 

  <form method="post" action="logOut">
    <button type="submit">cerrar sesion</button>
  </form>
  <form method="post" action="deleteAccount">
    <button type="submit">borrar cuenta</button>
  </form>

   <p style="text-align: center;">
      <a href="/ruleta" style="color: red; font-weight: bold; text-decoration: none;"> Ir a la ruleta</a>
   </p>
  </body>
  </div>
</html>