<html>
    <head>
        <meta charset='utf-8'>
    </head>
    <body>
        <div class="fondoMain">
        <h2>¡Bienvenido {{nombre}}! Te deseamos buena suerte</h2>
        <a href="/ruleta" class="link" 
        style="display: inline-block; text-decoration: none; padding: 10px 20px; margin-top: 15px;">
         Comienza a apostar
        </a>
        </div>
    </body>
</html>