/*clases modificadas para logIn y signUp. se espera que tambien sirva para
el menu para ingresar y retirar dinero. forms significa formulario*/

h2.forms{
    color: white;
    background-color: red;
    text-align: center;
    border: 1px solid #a80303;
    padding: 15px 0px;
    margin: 0px;
}

p.forms{
    text-align: left;
    padding-left: 20px;
}

div.formsFondo{
    background-color: rgb(235, 235, 235);
    padding-top: 15px;
    margin-top: 0px;
    text-align: center;
}

div.espacio{
    padding-bottom: 10px;
}

input:hover{
    background-color: lightgrey;
}

button.submit{
    color: white;
    background-color: #6457d3;
    border-radius: 15px;
}

button.submit:hover{
    background-color: rgb(80, 123, 201);
}

/*clases modificadas para home*/

ul.home{
    list-style-type: none;
    font-size: 20px;
    color: white;
    background-color: red;
    overflow: hidden;
    border: 1px solid #a80303;
}

li.homeLeft{
    float: left;
    padding: 10px 10px;
    text-align: center;
}

li.homeRight{
    float: right;
    padding: 10px 10px;
    text-align: center;
}
    li:hover {
        background-color: #bf0404;
    }

#wallet{
    background-color: rgb(3, 151, 3);
}
    #wallet:hover{
        background-color: green;
    }

#logIn{
    background-color: white;
}
    #logIn:hover{
        background-color: rgb(206, 206, 206);
    }

    a.logIn{
        color: black;
    }