h2{
    color: white;
    background-color: red;
    text-align: center;
    padding: 15px 0px;
    margin: 0px;
}

a{
    text-align: right;
    padding-right: 20px;
}

p{
    text-align: left;
    padding-left: 20px;
}

div{
    text-align: center;
    padding-bottom: 15px;
}

div.fondo{
    background-color: rgb(235, 235, 235);
    padding-top: 15px;
    margin-top: 0px;
}

input:hover{
    background-color: lightgrey;
}

button{
    color: white;
    background-color: #6457d3;
    border-radius: 15px;
}

button:hover{
    background-color: rgb(80, 123, 201);
}

ul {
    list-style-type: none;
    color: white;
    background-color: red;
    overflow: hidden;
    border: 2px solid #a80303;
}

li {
    padding: 10px 10px;
    float: left;
    text-align: center;
}

    li:hover {
        background-color: #bf0404;
    }

    li.right {
        float: right;
    }

    li.logIn {
        float: right;
        background-color: white;
        color: black;
    }

        li.logIn:hover {
            background-color: rgb(214, 214, 214);
        }

    li.cash {
        float: right;
        background-color: #029c09;
    }

        li.cash:hover {
            background-color: #017406;
        }

